* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    min-height: 100vh;
}

.gallery-container {
    display:flex;
    flex-wrap: wrap;
    width:90vw;
    margin:auto;
}

.gallery-container > div {
    margin:5px;
    flex-basis:280px;
    flex-grow:1;
    flex-shrink: 1;
    overflow: hidden;

}

img {
    object-fit:cover;
    object-position: center center;
    width:100%;
    height:100%;

}

.gallery-title{
    display:flex;
    justify-content: center;
    margin:40px;
}

h1 {
    padding:10px 45px;
    color:purple;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    border-radius: 100px;
    background: violet;
}
